@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #333;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

ul, li {
 font-size: 10pt;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

/*modify images for the moment - they are hutrongous*/
img {
	max-width: 30vw;
	max-height: 30vw;
}
/* ======================== Footer ======================== */
#footer {
	text-transform: uppercase;
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	padding: 25px;
	letter-spacing: 1px;
	text-align: center;
}

/* ====================== Navigation ====================== */
nav {
	width: 100vw;
	height: 100%;
	display: block;
	background-color: #252831;
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
}

nav h1 a {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	letter-spacing: 2vw;
	text-transform: uppercase;
}

/* ======================= Map ========================= */
#map {
	height: 50vh;
	width: 90%;
	background-color: #ccc;
	margin: 0 auto;
}

/* ============ Restaurant Filtering =================== */
.filter-options {
	width: 100vw;
	height: 15vw;
	background-color: #3397DB;
	display: flex;
	flex-wrap: wrap;
}

.filter-options h2 {
	color: white;
	font-size: 1em;
	margin-left: 4vw;
	width: 30%;
	margin-top: 5%;
	font-weight: lighter;

}

.filter-options select {
	display: block;
	border: 1px solid #fff;
	font-size: 10pt;
  letter-spacing: 0;
	width: 30%;
	height:70%;
	min-height: 45px;
	min-width: 45px;
	margin: auto;
	border-radius: 5px;
	background-color: white;
}

/* ====================== Restaurant Listing ====================== */
/*for list container*/
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
	width: 100%;
	padding-inline-start: 0px;
}

/*for restaurant tiles*/
#restaurants-list li {
  background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial, sans-serif;
	padding: 0 10px 8px;
	display: flex;
	flex-wrap: wrap;
}

/*for each restaurant name*/
#header-link {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
	width: 95vw;
	display: block;
}

/*for the address*/
.addressHolder {
	width: 40vw;
	margin-left: 6px;
	margin-top: 0;
}

/*for the view details button*/
.view-restaurant-details {
	background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
	width: 70px;
	height: 45px;
	font-size: 1.1em;
	text-align: center;
	padding-top: 5%;
	margin-left: 6%;
	margin-top: 5%;
	text-transform: uppercase;
}

/*for the restaurant image*/
#restaurants-list .restaurant-img {
	width: 23vw;
	max-height: 23vw;
}


/* ================ Details Page ====================*/

/*for the breadcrumb*/

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}


/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

#restaurant-name /*for each restaurant name*/ {
	width: 100vw;
	font-size: 2em;
	color: orange;
	text-transform: uppercase;
}

.restaurant-img {
	width: 100vw;
	max-width: none;
	max-height: 80vw;
}

#restaurant-cuisine
 {
	background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

/* ================ hours and reviews ================= */
p#restaurant-address, #restaurant-hours, #reviews-container {
	background-color: #fff;
	background: linear-gradient(to bottom, #333 0%, #333 50px, white 50px, white 100%);
	width: 85vw;
	margin: auto;
	border-radius: 10px;
	font-size: 1.4em;
}

/* ===================== black headers ================= */

p#restaurant-address h2, div#restaurant-hours h2, section#reviews-container h2, #reviews-list p.name {
	color: #ddd;
	width: 80vw;
	height: 100%;
	border-radius:  10px 10px 0 0;
	padding: 10px;
	font-size: 1.1em;
}

/* =============== Restaurant Hours ==================== */
h3 {
	margin: 20px auto auto auto;
	font-size: 1.5em;
}

td {
	font-size: 0.8em;
	line-height: 2em;
}

/* ================= Reviews Container ================= */
#reviews-container {
	margin-top: 20px;
	background-color: #fdfdfd;
	}

#reviews-container h2 {
	font-size: 2em;
	padding: 10px;
	margin: 10px auto 0 auto;
}

#reviews-list li {
	width: 100%;list-style: none;
	border-bottom: 2px solid #ccc;
	padding: 3px;
	margin-left: -1.8em;
	background: linear-gradient(to bottom, #404142 0%, #404142 45px, #eff0f2 45px, #eff0f2 100%);
}

#reviews-list p.comments {
	font-size: 1em;
}

#reviews-list p.name {
	width: 96%;
	margin-left: -1.8%;
	margin-top: -1%;
	font-size: 1.5em;
	margin-bottom: -4%;
	color: #ddd;
}

#reviews-list p.rating {
	display: inline;
	margin-top: -2.5em;
	background-color: orange;
	color: white;
	font-size: 1.2em;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -1%;
}

#reviews-list p.date {
	font-style: italic;
	font-size: 0.8em;
	margin-top: -4%;
	color: #ddd;
}

/* ==================== footer ========================= */
.inside #footer {
  bottom: 0;
  width: 90%;
	display: block;
	margin: auto;
}


/* Now for media queries! Mobile starts looking silly at around
400px...*/

@media only screen and (min-width: 420px) {
#map {
	max-height: 550px;
	}/*switch to grid view, show picture across whole tile and
address and view detail button side by side*/
	#restaurants-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 3px;
	}

	#restaurants-list li {
		max-width: 45vw;
		display: flex;
		grid-area: span 1 / span 1;
		height: auto;
		margin: auto;
	}

	#header-link {
		max-width: 45vw;
		font-size: 1.1em;
		height: 2.2em;
		text-align: center;
		margin-left: -2.5vw;
	}

	#restaurants-list .restaurant-img {
		width: 80%;
		max-height: 30vw;
		margin: -5px auto auto auto;
	}

	.addressHolder {
		width: 50%;
		display: block;
		margin-top: -0.4em;
	}

	.addressHolder p {
		font-size: 10pt;
		line-height: 1em;
		margin-bottom: -0.5em;
	}

	#restaurants-list li a.view-restaurant-details {
		max-width: 30%;
		font-size: 0.8em;
	}

/*Make filter options fit in the view window.*/
.filter-options {
	height: 80px;
	}

.filter-options h2 {
	width: auto;
	font-size: 1.2em;
	margin-right: 15px;
}

.filter-options select {
	width: auto;
	margin: 8px;
}

/*Get the hours back on one line*/
td {
	font-size: 0.7em;
}
/*Get the dates in the detail screen to go lower,
move ratings down, extend black header.*/
#reviews-list p.name {
margin-bottom: 2%;
}

#reviews-list li {
	background: linear-gradient(to bottom, #404142 0%, #404142 55px, #eff0f2 55px, #eff0f2 100%);
}

#reviews-list p.rating {
margin-top: 1em;
}

/*Everything looks good again until 580px.*/
@media screen and (min-width: 580px) {
	#restaurants-list {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#restaurants-list li {
		max-width: 30vw;
	}

	#restaurants-list .restaurant-img {
		max-height: 20vw;
		max-width: 20vw;
		margin: -5px auto 10px auto;
	}

	#header-link {
		max-width: 28vw;
		margin: auto;
		font-size: 1.5em;
	}

	#restaurants-list li a.view-restaurant-details {
		max-width: 30%;
		font-size: 0.8em;
		margin: auto;
		border-radius: 8px;
		line-height: 16px;
	}

	.addressHolder{
		margin-bottom: 5px;
		height: 36px;
	}
/*Get the map on the side and the pic on the other.*/
#infomap-container {
	width: 100%;
	border-radius: 10px;
	max-height: 50vh;
}

img#restaurant-img.one-restaurant {
	width: 50%;
	border-radius: 10px;
	margin-top: -40%;
	max-height: 50vh;
}

/*Get the hours and address on one side and the comments on the other.*/
p#restaurant-address, div#restaurant-hours {
	width: 30%;
	font-size: 1em;
	background: linear-gradient(to bottom, #333 0%, #333 38px, white 38px, white 100%);
	margin-left: 5%;
}

p#restaurant-address {}

div#restaurant-hours {}

td {
	font-size: 1.2em;
}

section#reviews-container {
	width: 60%;
	margin-left: 40%;
	position: absolute;
	top: 500px;
	margin-bottom: 100px;
}

#reviews-list li p.comments {
	font-size: 1.2em;
}

/*TODO stick the footer to the bottom of the screen*/
.inside #footer {
	position: fixed;
}
	/*Get the commenter names to stop going off the left of the screen*/

#reviews-list p.name {
			margin-left: 0;
	}

	#restaurants-list li {
max-width: 500px;
margin: auto;
}
}

@media screen and (min-width: 800px) {
	#restaurants-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 8px;
	}

	#restaurants-list li {
		max-width: 22vw;
		height: 100%;
		margin-bottom: 15px;
	}

	#header-link {
		max-width: 20vw;
		font-size: 1.2em;
	}

	#restaurants-list .restaurant-img {
		max-height: 10vw;
		max-width: 12vw;
		margin: -5px auto 10px auto;
	}

	.addressHolder {
		margin-bottom: 5px;
		height: 4em;
	}

	p.address {
		font-size: 1em;
	}

	#restaurants-list p.neighborhood {
		font-size: 1em;
		font-weight: bold;
	}
}
