@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #333;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

ul, li {
 font-size: 10pt;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

/*modify images for the moment - they are hutrongous*/
img {
	max-width: 30vw;
	max-height: 30vw;
}
/* ======================== Footer ======================== */
#footer {
	text-transform: uppercase;
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	padding: 25px;
	letter-spacing: 1px;
	text-align: center;
}

/* ====================== Navigation ====================== */
nav {
	width: 100vw;
	height: 100%;
	display: block;
	background-color: #252831;
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
}

nav h1 a {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	letter-spacing: 2vw;
	text-transform: uppercase;
}

/* ======================= Map ========================= */
#map {
	height: 50vh;
	width: 90%;
	background-color: #ccc;
	margin: 0 auto;
}

/* ============ Restaurant Filtering =================== */
.filter-options {
	width: 100vw;
	height: 15vw;
	background-color: #3397DB;
	display: flex;
	flex-wrap: wrap;
}

.filter-options h2 {
	color: white;
	font-size: 1em;
	margin-left: 4vw;
	width: 30%;
	margin-top: 5%;
	font-weight: lighter;

}

.filter-options select {
	display: block;
	border: 1px solid #fff;
	font-size: 10pt;
  letter-spacing: 0;
	width: 30%;
	height:70%;
	min-height: 45px;
	min-width: 45px;
	margin: auto;
	border-radius: 5px;
	background-color: white;
}

/* ====================== Restaurant Listing ====================== */
/*for list container*/
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
	width: 100%;
	padding-inline-start: 0px;
}

/*for restaurant tiles*/
#restaurants-list li {
  background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial, sans-serif;
	padding: 0 10px 8px;
	display: flex;
	flex-wrap: wrap;
}

/*for each restaurant name*/
#header-link {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
	width: 95vw;
	display: block;
}

/*for the address*/
.addressHolder {
	width: 40vw;
	margin-left: 6px;
	margin-top: 0;
}

/*for the view details button*/
.view-restaurant-details {
	background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
	width: 70px;
	height: 45px;
	font-size: 1.1em;
	text-align: center;
	padding-top: 5%;
	margin-left: 6%;
	margin-top: 5%;
	text-transform: uppercase;
}

/*for the restaurant image*/
#restaurants-list .restaurant-img {
	width: 23vw;
	max-height: 23vw;
}


/* ================ Details Page ====================*/

/*for the breadcrumb*/

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}


/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

#restaurant-name /*for each restaurant name*/ {
	width: 100vw;
	font-size: 2em;
	color: orange;
	text-transform: uppercase;
}

.restaurant-img {
	max-width: 100vw;
	width: 100vw;
	max-width: none;
	max-height: 80vw;
}

#restaurant-cuisine {
	background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

p#restaurant-address, table, #reviews-container {
	background-color: #fff;
	width: 85vw;
	margin: auto;
	border-radius: 0 0 10px 10px;
	font-size: 1.4em;
}

p#restaurant-address h2, h3, section#reviews-container h2, #reviews-list p.name {
	background-color: #333;
	color: #ddd;
	width: 80vw;
	height: 100%;
	margin-block-start: 0px;
	margin-block-end: 0px;
	border-radius:  10px 10px 0 0;
	padding: 10px;
	font-size: 1.1em;
}

h3 {
	margin: 20px auto auto auto;
	font-size: 1.5em;
}

td {
	font-size: 0.8em;
	line-height: 2em;
}

#reviews-container {
	margin-top: 20px;
	background-color: #fdfdfd;
	}

#reviews-container h2 {
	font-size: 2em;
	padding: 10px;
	margin: 10px auto 0 auto;
}

#reviews-list li {
	list-style: none;
	margin-left: -35px;
	border-right: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius: 10px;
	background-color: white;
	padding: 3px;
}

#reviews-list p.comments {
	font-size: 1.5em;
}

#reviews-list p.name {
	width: 96%;
	margin-left: -1.8%;
	font-size: 1.5em;
}

#reviews-list p.rating {
	float: right;
	margin-top: -10%;
	background-color: orange;
	color: white;
	font-size: 1em;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -1%;
}

#reviews-list p.date {
	font-style: italic;
	font-size: 0.8em;
}

.inside #footer {
  bottom: 0;
  width: 90%;
	display: block;
	margin: auto;
}
