@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #333;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

ul, li {
 font-size: 10pt;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

/*modify images for the moment - they are hutrongous*/
img {
	max-width: 30vw;
	max-height: 30vw;
}
/* ======================== Footer ======================== */
#footer {
	text-transform: uppercase;
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	padding: 25px;
	letter-spacing: 1px;
	text-align: center;
}

/* ====================== Navigation ====================== */
nav {
	width: 100vw;
	height: 100%;
	display: block;
	background-color: #252831;
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
}

nav h1 a {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	letter-spacing: 2vw;
	text-transform: uppercase;
}

/* ======================= Map ========================= */
#map {
	height: 50vh;
	width: 90%;
	background-color: #ccc;
	margin: 0 auto;
}

/* ============ Restaurant Filtering =================== */
.filter-options {
	width: 100vw;
	height: 15vw;
	background-color: #3397DB;
	display: flex;
	flex-wrap: wrap;
}

.filter-options h2 {
	color: white;
	font-size: 1em;
	margin-left: 4vw;
	width: 30%;
	margin-top: 5%;
	font-weight: lighter;

}

.filter-options select {
	display: block;
	border: 1px solid #fff;
	font-size: 10pt;
  letter-spacing: 0;
	width: 30%;
	height:70%;
	min-height: 45px;
	min-width: 45px;
	margin: auto;
	border-radius: 5px;
}

/* ====================== Restaurant Listing ====================== */
/*for list container*/
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
	width: 100%;
	padding-inline-start: 0px;
}

/*for restaurant tiles*/
#restaurants-list li {
  background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial, sans-serif;
	padding: 0 10px 8px;
	display: flex;
	flex-wrap: wrap;
}

/*for each restaurant name*/
#header-link {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
	width: 100vw;
	display: block;
}

/*for the address*/
.addressHolder {
	width: 40vw;
	margin-left: 6px;
	margin-top: 0;
}

/*for the view details button*/
.view-restaurant-details {
	background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
	width: 70px;
	height: 45px;
	font-size: 1.1em;
	text-align: center;
	padding-top: 5%;
	margin-left: 3%;
	margin-top: 5%;
	text-transform: uppercase;
}

/*for the restaurant image*/
#restaurants-list .restaurant-img {
	width: 23vw;
	max-height: 23vw;
}
